flask_server_test.py
templates/collapsible.html
recursos/
flask-pymongo/
documentos/
.vscode
0.ico
0.png
gbm-logo.svg
query
Clientes/
Practica/
addsw.html
footer.html
create.old.html
Certificados/
Practica/
Prototipo/
Presentacion/