{% extends "TemplateBase.html" %}


{% block contenido %}

<p>Añadir al registro exixtente</p>
<div class="container-fluid">
  <form action="#" method="POST">
    <div class="form-row">
      <fieldset disabled></fieldset>
      <div class="form-group col-md-6">
        <label>ID</label>
        <input type="text" class="form-control" name="id" placeholder="ID" value="{{uid}}" disabled>
      </div>

      <div class="form-group col-md-6">
        <label>Nombre</label>
        <input type="text" class="form-control" name="name" placeholder="Nombre del Cliente" value="{{name}}" disabled>
      </div>

      <!-- ----------------------------------------------------------------------------------------------------------- -->


      <div class="form-group col-md-6">
        <label>Modelo</label>
        <input type="text" class="form-control" name="model" placeholder="Sistema" required>
      </div>

      <div class="form-group col-md-6">
        <label>Tipo</label>
        <input type="text" class="form-control" name="devType" placeholder="Tipo" required>
      </div>

      <!-- ----------------------------------------------------------------------------------------------------------- -->

      <div class="form-group col-md-6">
        <label>Serie</label>
        <input type="text" class="form-control" name="serial" placeholder="Serie" required>
      </div>
      <div class="form-group col-md-6">
        <label>Nombre del Equipo</label>
        <input type="text" class="form-control" name="sysName" placeholder="Nombre del Equipo" required>
      </div>

      <!-- ----------------------------------------------------------------------------------------------------------- -->


      <div class="form-group col-md-6">
        <label for="location">Ubicación</label>
        <input type="text" class="form-control" name="location" placeholder="Ubicación" required>
      </div>

      <!-- ----------------------------------------------------------------------------------------------------------- -->

      
      <div class="form-group col-md-6">
        <label for="os">Sistema Operativo</label>
        <select name="os" class="form-control" required>
          <option value="">Choose...</option>
          <option value="AIX">AIX</option>
          <option value="HMC">HMC</option>
          <option value="Windows Server">Windows Server</option>
          <option value="Linux">Linux</option>
          <option value="AS400">AS400</option>
          <option value="Solaris">Solaris</option>
          <option value="IBM Cloud">IBM Cloud</option>
          <option value="Firmware Propietario">Firmware Propietario</option>
          <option value="Otro">Otro</option>
        </select>
      </div>

      <div class="form-group col-md-2">
        <label>Configuración</label>
        <select name="config" class="form-control" required>
          <option value="">Choose...</option>
          <option value="Físico">Físico</option>
          <option value="Virtual">Virtual</option>
        </select>
      </div>

      <div class="form-group col-md-2">
        <label for="os">Sistema Operativo</label>
        <select name="os" class="form-control" required>
          <option value="">Choose...</option>
          <option value="AIX">AIX</option>
          <option value="HMC">HMC</option>
          <option value="Windows Server">Windows Server</option>
        </select>
      </div>
      <div class="col" align='center'>
        <input type="submit" class="btn btn-primary col-md-3" value="Send" >
      </div>

  </form>

</div>




{% endblock %}