{% extends "TemplateBase.html" %}


{% block contenido %}
 
 
  <div class="container" align="center">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Cliente no encontrado</h2>
                <div class="error-details">
                    El cliente que busca no se encuentra en la base de datos
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>Volver Al Inicio </a>
                    <a href="/create" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span>Añadir Registro Nuevo</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}